BasedOnStyle: GNU
BinPackArguments: false
BinPackParameters: false
IndentWidth: 2
UseTab: Never

BreakBeforeBraces: GNU

AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true 
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true 

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
